

@media (min-width: 992px) {
  #box{
      width: 29%;
      margin: 2%;
  }
#box2{
      width: 29%;
      margin: 2%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #box{
      width: 45%;
      margin: 2%;
  }
  #box2{
      width: 94%;
      margin: 2%;
  }
}

@media (max-width: 767px) {
  #box{
      width: 94%;
      margin: 2%;
  }
  #box2{
    width: 94%;
      margin: 2%;
  }
}

body {
}

#box {
  background-color: gray;
  border: 1px solid black;
  float: left;
  overflow: scroll;
  height: 150px;

}
#box2 {
  background-color: gray;
  border: 1px solid black;
  float: left;
  height: 150px;
  overflow: scroll;
}

#content {
  background-color: pink; 
  border: 1px solid black;
  float: right;
  
}